@using EntityLayer.Concrete
@model List<Content>
@{
    ViewBag.Title = "GetByHeadingPage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | User Profile</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
    <section class="content-header">
    </section>

    <div class="wrapper">

        <section class="content">

            <div class="tab-pane" id="timeline">




                <div class="timeline timeline-inverse">

                    @foreach (var item in Model)
                    {

                        <div class="time-label">
                            <span class="bg-gradient-green">
                                @(((DateTime)item.ContentDate).ToString("dd-MMM-yyyy"))
                            </span>
                        </div>


                        <div>
                            <i class="fas fa-comments bg-purple"></i>

                            <div class="timeline-item">
                                <span class="time"><i class="far fa-clock"></i>  @(((DateTime)item.ContentDate).ToString("HH-mm"))</span>

                                <h3 class="timeline-header"><a href="#">@item.Writer.WriterName</a> Yazar</h3>

                                <div class="timeline-body">

                                    @item.ContentValue
                                </div>
                                <div class="timeline-footer">
                                    <a href="#" class="btn btn-warning btn-flat btn-sm">View comment</a>
                                </div>
                            </div>

                        </div>
                    }
                    <!-- END timeline item -->
                    <div>
                        <i class="far fa-clock bg-gray"></i>
                    </div>
                </div>

            </div>
        </section>
        <!-- /.content -->
    </div>

    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>
</body>
</html>

